{% load bootstrap3 %}
<table summary="vypis klientu" class="table table-bordered sortable table-hover">
    <tr><th>Nazev subjektu</th><th>Adresa</th><th></th><th></th><th>Prinesl doklady</th></tr>
        {% for customer in customer_list %}
            <tr>
                <td>
                    {{ customer.name }}
                </td>
                <td>
                    {{ customer.address }}
                </td>
                    <td>
                        {% include "crm_api/delete_form.html" %}
                    </td>
                        <td>
                            {% if perms.crm_api.change_customer %}
                            <a href="{% url 'crm_api:edit' pk=customer.id %}">Upravit</a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                <td>
                    {% if customer.papers %}
                        {% bootstrap_icon 'glyphicon glyphicon-ok' %}
                    {% else %}
                        {% bootstrap_icon 'glyphicon glyphicon-remove' %}
                    {% endif %}
                    <a href="{% url 'crm_api:edit_papers' customer.id %}">
                        {% if customer.papers %}
                            Neprinesl
                        {% else %}
                            Prinesl
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
</table>
