{% extends 'crm_api/html/_paginate_table.html' %}
{% load bootstrap3 %}
{% block table_head %}
<thead>
    <tr><th>
        Nazev subjektu
    </th><th>
        Adresa
    </th><th>
    </th><th>
    </th><th>
        Prinesl doklady
    </th></tr>
</thead>
{% endblock %}
{% block table_body %}
<tbody>
    {% for customer in customer_list %}
        <tr>
            <td>
                {{ customer.name }}
            </td>
            <td>
                {{ customer.address }}
            </td>
            <td>
                {% if perms.crm_api.delete_customer %}
                    {% url "crm_api:delete_customer" pk=customer.id as url_arg %}
                    {% include "crm_api/html/delete_form.html" with action_arg=url_arg name_arg=customer.name %}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if perms.crm_api.change_customer %}
                    <a href="{% url 'crm_api:edit' pk=customer.id %}">Upravit</a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if customer.papers %}
                    {% bootstrap_icon 'glyphicon glyphicon-ok' %}
                {% else %}
                    {% bootstrap_icon 'glyphicon glyphicon-remove' %}
                {% endif %}
                {% buttons button_type="link" button_class="btn-primary" %}
                    <a href="{% url 'crm_api:edit_papers' customer.id %}">
                    {% if customer.papers %}
                        Neprinesl
                    {% else %}
                        Prinesl
                    {% endif %}
                    </a>
                {% endbuttons %}
            </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}
