{% extends 'crm_api/html/_table_pagination.html' %}
{% load bootstrap3 %}
{% block table_head %}
    <thead>
        <tr>
            <th>
            Nazev souboru
            </th>
            <th>
            </th>
        </tr>
    </thead>
{% endblock %}
{% block table_body %}
    <tbody>
        {% for file in files %}
            <tr>
                <td>
                    <a href="{% url 'crm_api:download_file' file_id=file.id %}" target="_blank">{{ file.files }}</a>
                </td>
                <td>
                    {% if perms.crm_api.delete_customerfiles %}
                    <form method="POST" action="{% url "crm_api:delete_file" pk=file.id %}">
                        {% csrf_token %}
                        {% buttons %}
                        <button class="btn btn-default" type="submit" onclick="return confirm('Opravdu chcete smazat {{ file.files }}?')">
                            Smazat
                        </button>
                        {% endbuttons %}
                    </form>
                    {% else %}
                    -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}