{% extends 'crm_api/html/_table_pagination.html' %}
{% load bootstrap3 %}
{% block head %}
{% if tax_pie_char or papers_pie_chart %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
{% endif %}
{% endblock %}
{% block table_head %}
<thead>
    <tr><th>
        Název subjektu
    </th><th>
        Adresa
    </th><th>
    </th><th>
        Přinesl doklady DPH
    </th>
    <th>
        Přiznání podáno
    </th>
</tr>
</thead>
{% endblock %}
{% block table_body %}
<tbody>
    {% for customer in customer_list %}
        <tr>
            <td>
                {{ customer.name }}
            </td>
            <td>
                {{ customer.address }}
            </td>
            <td>
                {% if perms.crm_api.change_customer %}
                    <a href="{% url 'crm_api:edit' pk=customer.id %}">Upravit</a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% buttons button_type="link" button_class="btn-primary" %}
                    <a href="{% url 'crm_api:edit_papers' customer.id %}">
                    {% if customer.papers %}
                    {% bootstrap_icon 'glyphicon glyphicon-ok' %}
                        Přinesl
                    {% else %}
                    {% bootstrap_icon 'glyphicon glyphicon-remove' %}
                        Nepřinesl
                    {% endif %}
                    </a>
                {% endbuttons %}
            </td>
            <td>
                {% if customer.vat == 'mesicne' %}
                    <a href="{% url 'crm_api:edit_tax_submit' customer.id %}">
                    {% if customer.submitted_tax %}
                    {% bootstrap_icon 'glyphicon glyphicon-ok' %}
                        Podáno 
                    {% else %}
                    {% bootstrap_icon 'glyphicon glyphicon-remove' %}
                        Nepodáno
                    {% endif %}
                    </a>
                     k {% now 'm/Y' %}
                {% elif customer.vat == 'ctvrtletne' %}
                <a href="{% url 'crm_api:edit_tax_submit' customer.id %}">
                    {% if customer.submitted_tax %}
                    {% bootstrap_icon 'glyphicon glyphicon-ok' %}
                        Podáno 
                    {% else %}
                    {% bootstrap_icon 'glyphicon glyphicon-remove' %}
                        Nepodáno
                    {% endif %}
                    </a>
                        k {{ quart }}Q                        
                {% else %}
                    Není plátce DPH
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}
{% block extra_content %}
{% if tax_pie_char or papers_pie_chart %}
<table style="width: 100%">
    <td>
        {{ tax_pie_chart.as_html }}
    </td>
    <td>
        {{ papers_pie_chart.as_html }}
    </td>
</table>
{% endif %}
{% endblock %}
