{% extends 'crm_api/html/_table_pagination.html' %}
{% load bootstrap4 %}
{% load date_extras %}
{% block head %}
{% if tax_pie_char or papers_pie_chart %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
{% endif %}
{% endblock %}
{% block table_head %}
<thead>
    <tr>
    <th>
        Název subjektu
    </th>
    <th>
        Mzdové podklady
    </th>
    <th>
        Mzdy
    </th>
    <th>
        Vyúčtování zálohové daně
    </th>
    <th>
        Vyúčtování srážkové daně
    </th>
    <th>
        Přinesl doklady DPH
    </th>
    <th>
        Přiznání DPH podáno
    </th>
    <th>
        Přiznání silniční daně podáno
    </th>
</tr>
</thead>
{% endblock %}
{% block table_body %}
<tbody>
    {% for customer in customer_list %}
        <tr>
            <td>
                {% if perms.crm_api.change_customer %}
                    <a href="{% url 'crm_api:edit' pk=customer.id %}">{{ customer.name }}</a>
                {% else %}
                    {{ customer.name }}
                {% endif %}
            </td>
            <td>
                {% if customer.is_employer %}
                    <a href="{% url 'crm_api:edit_wage' customer.id %}">
                    {% if customer.wage %}
                        <span class="fa fa-check">Přinesl</span>
                    {% else %}
                        <span class="fa fa-times">Nepřinesl</span>
                    {% endif %}
                    </a>
                    k {% last_month True %}
                    {% else %}
                        -
                {% endif %}
            </td>
            <td>
                {% if customer.is_employer %}
                <a href="{% url 'crm_api:edit_sub_wage' customer.id %}">
                {% if customer.submitted_wage_tax %}
                    <span class="fa fa-check">Zpracované</span>
                {% else %}
                    <span class="fa fa-times">Nezpracované</span>
                {% endif %}
                </a>
                 k {% last_month True %}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if customer.is_employer %}
                    <a href="{% url 'crm_api:edit_advance_tax' customer.id %}">
                    {% if customer.advance_tax %}
                        <span class="fa fa-check">Zpracované</span>
                    {% else %}
                        <span class="fa fa-times">Nezpracované</span>
                    {% endif %}
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if customer.is_employer %}
                    <a href="{% url 'crm_api:edit_withholding_tax' customer.id %}">
                    {% if customer.withholding_tax %}
                        <span class="fa fa-check">Zpracované</span>
                    {% else %}
                        <span class="fa fa-times">Nezpracované</span>
                    {% endif %}
                    </a>
                     za rok {% last_year %}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if customer.vat == "mesicne" or customer.vat == "ctvrtletne" %}
                {% buttons button_type="link" button_class="btn-primary" %}
                    <a href="{% url 'crm_api:edit_papers' customer.id %}">
                    {% if customer.papers %}
                        <span class="fa fa-check">Přinesl</span>
                    {% else %}
                        <span class="fa fa-times">Nepřinesl</span>
                    {% endif %}
                    </a>
                {% endbuttons %}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if customer.vat != 'neplatce' %}
                <a href="{% url 'crm_api:edit_tax_submit' customer.id %}">
                    {% if customer.submitted_tax %}
                        <span class="fa fa-check">Podáno</span>
                    {% else %}
                        <span class="fa fa-times">Nepodáno</span>
                    {% endif %}
                </a>
                    {% if customer.vat == 'mesicne' %}
                        k {% get_vat_deadline True %}
                    {% else %}
                        k {% get_vat_deadline False %}
                    {% endif %}
                {% else %}
                    Není plátce DPH
                {% endif %}
            </td>
            <td>
                {% if customer.road_tax %}
                    <a href="{% url 'crm_api:edit_road_tax_submit' customer.id %}">
                    {% if customer.submitted_road_tax %}
                        <span class="fa fa-check">Podáno</span>
                    {% else %}
                        <span class="fa fa-times">Nepodáno</span>
                    {% endif %}
                    </a>
                     k {% last_year %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}
{% block extra_content %}
{% if tax_pie_char or papers_pie_chart %}
<table style="width: 100%">
    <td>
        {{ tax_pie_chart.as_html }}
    </td>
    <td>
        {{ papers_pie_chart.as_html }}
    </td>
</table>
{% endif %}
{% endblock %}
