{% include "crm_api/html/head.html" %}
{% load bootstrap3 %}
<h1>Vyhledat klienta</h1>
<form id="searchform" action="{% url 'crm_api:select_customer' %}" method="get" accept-charset="utf-8">
    <input class="searchfield" id="searchbox" name="q" type="search" placeholder="Vyhledat klienta">
</form>
{% if object_list and perms.crm_api.change_customer %}
<form method="post" action="">
    {% csrf_token %}
        <select id="customer_id" name="customer_id">
            {% for cust in object_list %}
                <option value="{{cust.id}}">{{cust.name}}</option>
            {% endfor %}
        </select>
    <input type="submit" value="Vyber"/>
</form>
{% endif %}
{% if query_set %}
    <div class="container" id="query_set">
        <table summary="vypis klientu" class="table table-bordered sortable table-hover">
            <tr><th>Nazev subjektu</th><th>Prinesl doklady</th></tr>
                {% for customer in query_set %}
                <tr>
                    <td>
                        {% if perms.crm_api.change_customer %}
                            <nav>
                                <a href="{% url 'crm_api:edit' pk=customer.id %}" style="font-size: 30px;">{{ customer.name }}</a>
                            </nav>
                        {% else %}
                            {{ customer.name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if customer.papers %}
                            {% bootstrap_icon 'glyphicon glyphicon-ok' %}
                        {% else %}
                            {% bootstrap_icon 'glyphicon glyphicon-remove' %}
                        {% endif %}
                    <nav>
                        <a href="{% url 'crm_api:edit_papers' customer.id %}">
                    </nav>
                        {% if customer.papers %}
                            Neprinesl
                        {% else %}
                            Prinesl
                        {% endif %}
                    </a>
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
{% endif %}