{% include "crm_api/html/head.html" %}
{% load bootstrap3 %}
<h1>Vyhledat klienta</h1>
{% url 'crm_api:select_customer' arg arg2 as url_arg %}
{% include 'crm_api/html/search_form.html' with action_arg=url_arg ph_arg='Vyhledat klienta' %}
{% if query_set %}
    <div class="container" id="query_set">
        <table summary="vypis klientu" class="table table-bordered sortable table-hover">
            <tr><th>Nazev subjektu</th><th>Prinesl doklady</th></tr>
                {% for customer in query_set %}
                <tr>
                    <td>
                        {% if perms.crm_api.change_customer %}
                            <nav>
                                <a href="{% url 'crm_api:edit' pk=customer.id %}" style="font-size: 30px;">{{ customer.name }}</a>
                            </nav>
                        {% else %}
                            {{ customer.name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if customer.papers %}
                            {% bootstrap_icon 'glyphicon glyphicon-ok' %}
                        {% else %}
                            {% bootstrap_icon 'glyphicon glyphicon-remove' %}
                        {% endif %}
                    <nav>
                        <a href="{% url 'crm_api:edit_papers' customer.id %}">
                    </nav>
                        {% if customer.papers %}
                            Prinesl
                        {% else %}
                            Neprinesl
                        {% endif %}
                    </a>
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
{% endif %}