{% extends "crm_api/html/_base.html" %}
{% block body_content %}
    {% load bootstrap3 %}
    {% buttons %}
    <a class="btn-link" href="{% url 'crm_api:create_email' %}" style="font-size: 30px;">
        Vytvorit email
    </a>
    {% endbuttons %}
    {% if object_list and perms.crm_api.change_warningemail %}
    <form method="post" action="">
        {% csrf_token %}
            <select id="warningemail_id" name="warningemail_id">
                {% for mail in object_list %}
                    <option value="{{mail.id}}">{{mail.name}}</option>
                {% endfor %}
            </select>
        <input type="submit" value="Vyber"/>
    </form>
    {% endif %}
{% endblock %}